
body{
    margin:0;
    padding:0;
}
footer {
    background-color: #0A1426;
}

/* Set padding to keep content from hitting the edges */
.body-content {
 overflow:hidden;
 margin:0;
 padding:0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}





/*****************Navbar Styling******************/

.Kfc-Navbar {
    width: 100%;
    position: fixed;
    z-index: 5000;
    display: flex;
    justify-content: space-between
}

.Kfc-Navbar-Links {
    display: flex;
    margin: 10px;
}

    .Kfc-Navbar-Links a {
        margin-right: 10vw;
        color: white;
    }

        .Kfc-Navbar-Links a:hover {
            margin-right: 10vw;
            color: white;
            text-decoration: none;
        }

.kidforcelogo {
    height: 60px;
}
/*****Index Style****/
.index-bg {
    height: 100%;
    width: 100%;
    z-index: -501;
    background-color: #0A1426;
    position: fixed;
    display: flex;
    justify-content: center;
   
}
.index-bg-logo{
    height:50px;
}
.index-bg-img {
    height:100%;
    width:100%;
    z-index:-502;
    grid-column:1 /span 1;
    grid-row:1 /span 1;

    position:fixed;
  object-fit:cover;
}
.index-bg-screen {
    height: 100%;
    width: 100%;
    z-index: -1;
    margin: 0;
    padding: 0;
    object-fit: cover;
    background-color: rgba(7, 7, 7, 0.69);
    display: flex;
    justify-content: center;
    align-items:center;
}
.index-bg-logo{
    height:70vh;
}
/**ROW ONE*/
.index-row-1 {
    height: 40vw;
}
.kfc-logo-big{
    height:30vw;
}




.index-row-2 { /**ROW TWO*/
    height: 25vw;
    background-color: #0A1426;
}
.row-2-carousel
{
    width:100%;
}
.kfc-product-image {
    height: 25vw;
}
.kfc-product-content-container {
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
}



/*.kfc-product-text {
    width: 100%;
    background-color: lightgreen;
}*/
.index-row-3 {
    height: 400px;
    background-color: #77A3F3;
}
.index-row-4 {
    height: 400px;
    background-color: #115B5B;
}
.index-row-5 {
    height: 400px;
    background-color: #742947;
}