
body{
    margin:0;
    padding:0;
}
footer {
    background-color: #0A1426;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding:0;
  margin:0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}





/*****************Navbar Styling******************/

.navbar-container{
    background-color:black;
   
}
.nav-logo-kfc {
    height: 8vw;
    min-height:60px;
}
.nav-a-kfc{
    color:white;
}
.nav-a-kfc :hover {
    color:white;
    text-decoration:none;
}



/*****Index Style****/ 
.index-bg{

    height:100%;
    width:100%;
    z-index:-503;
    background-color: #0A1426;
    position:fixed;   
    display:flex;
    justify-content:center;
}
/**ROW ONE*/

.index-row-1 {
    height: 40vw;


}
.kfc-logo-big{
    height:30vw;
}




.index-row-2 { /**ROW TWO*/

    height: 25vw;
    background-color: #520E8E;
}
.row-2-carousel
{
    width:100%;
}
.kfc-product-image {
    height: 25vw;
}
.kfc-product-content-container {
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
}



/*.kfc-product-text {
    width: 100%;
    background-color: lightgreen;
}*/
.index-row-3 {
    height: 400px;
    background-color: #77A3F3;
}
.index-row-4 {
    height: 400px;
    background-color: #115B5B;
}
.index-row-5 {
    height: 400px;
    background-color: #742947;
}