@{
    ViewBag.Title = "Home Page";
}
<div class="index-bg "> <img class="kfc-logo-big" src="~/images/logot.png" /></div>
<div class="row index-row-1">
   
    </div>

<div class="row index-row-2">

    <div id="demo" class="carousel slide row-2-carousel" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="kfc-product-content-container">
                    <img class="kfc-product-image" src="~/images/logo.jpg" />
                    <div class="kfc-product-text">     Text</div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="kfc-product-content-container">
                    <img class="kfc-product-image" src="~/images/logo.jpg" />
                    <div class="kfc-product-text">     Text</div>

                </div>
            </div>
            <div class="carousel-item">
                <div class="kfc-product-content-container">
                    <img class="kfc-product-image" src="~/images/logo.jpg" />
                    <div class="kfc-product-text">     Text</div>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>


</div>
<div class="row index-row-3">
    <img src="~/images/kidforce pinball.png" />
    <img src="~/images/pinball.png" />
</div>
<div class="row index-row-4">


</div>
<div class="row index-row-5">


</div>

