p {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #0A1426;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    overflow: hidden;
    margin: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}





/*****************Navbar Styling******************/

.Kfc-Navbar {
    width: 100%;
    position: fixed;
    z-index: 5000;
    display: flex;
    justify-content: space-between;
    animation-name: gobar;
    animation-duration: .5s;
}

@keyframes gobar {
    from {
        top: -20vw;
    }

    to {
        top: 0;
    }
}

.Kfc-Navbar-Links {
    display: flex;
    margin: 10px;
}

    .Kfc-Navbar-Links a {
        margin-right: 10vw;
        color: white;
        text-shadow: -1px -1px 4px black;
    }

        .Kfc-Navbar-Links a:hover {
            margin-right: 10vw;
            color: white;
            text-decoration: none;
        }

.kidforcelogo {
    height: 60px;
}
/*****Index Style****/
.index-bg {
    height: 100%;
    width: 100%;
    z-index: -501;
    background-color: #0A1426;
    position: fixed;
    display: flex;
    justify-content: center;
}
.index-bg-logo {
    height: 50px;
}
.index-bg-img {
    height: 100%;
    width: 100%;
    z-index: -502;
    grid-column: 1 /span 1;
    grid-row: 1 /span 1;
    position: fixed;
    object-fit: cover;
}

.index-bg-screen {
    height: 100%;
    width: 100%;
    z-index: -1;
    margin: 0;
    padding: 0;
    object-fit: cover;
    background-color: rgba(7, 7, 7, 0.69);
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-bg-logo {
    height: 60vh;
}
/**ROW ONE*/
.index-row-1 {
    height: 80vh;
}




/**ROW TWO*/
.kfc-product-carousel {
    height: 40vw;
    background-color: #212121;
    display:grid;
}

/**Carasaul******/
.kfc-products {
    overflow: hidden;
    width: 100%;
}
.kfc-product-content-container {
    width: 100%;
    height: 40vw;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    background-size: cover;
}
.kfc-product-image{
    max-height:20vw;
    margin:5vh
}
.header-text {
    font-size: 10vw;
    color: white;
    text-shadow: -1px -2px black;
}
.content-text {
    font-size:2vw;
    color: white;
    text-shadow: -1px -2px black;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 10vh;
    width: 5vw;
    background-size: 100%, 100%;
}

/**Store Info*/
.kfc-store-info{
    background-color:white;
    padding:20px;
    justify-content:space-between;
}
.kfc-store-info-list li{
list-style:none;

}
.kfc-store-info-icon {
    height: 50px;
    margin:10px;
}
/** Pinball */
.corner-ico {
    align-self: flex-start;
    height: 10vw;
}
.kfc-pinball {
    padding:100px;
    height: 60vw;
    max-height: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pinball-button {
    color: white;
    background-color: black;
    padding: 10px;
}

.kfc-pinball-pic-2 {
    height: 15vw;
    align-self: flex-end;
    margin-left: 2vw;
    margin-top: 2vw;
}

.kfc-pinball-pic-1 {
    align-self: flex-start;
    height: 15vw;
    margin-left: 2vw;
    margin-top: 2vw;
}

/**ROW FOUR*/

.kfc-events{
    height: 60vw;
    max-height: 500px;
    background-color: #212121;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.kfc-events-txt p {
    color: white;
    font-size: 6vw;
    align-self: flex-start;
    text-shadow: -7px -3px black;
    margin-right:3vw;
}

.calendar {
    margin-left: 10vw;
    height: 50vw;
    max-height: 400px;
}
/**row five*/
.kfc-contact {
    height: 500px;
    background-color: #212121;
    justify-content:center;
    color:white;
}
.kfc-contact-col{
    display:flex;
    flex-direction:column;
}

